* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: navy;
    margin-top: 0;
    padding: 50px;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  .navigation{
    background-color: salmon;
    margin: 0px;
    padding: 20px 0;
    width: 100%;
  }
  
  .bottom-container{
    background-color: salmon;
    margin: 0;
    padding: 50px 0 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

  }
  .frias-image {
    width: 200px;
    height: 200px;
  }
  body{
    background-color: lightpink;
    margin: 0;
    padding: 0; 
  }
  .navigation li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    width: 80px;
  }
